# Node
node_modules/
dist/
build/
.env
.env.local
.env.*.local
npm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# Vite / Next / React
/.vite
/.next
/out
/.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log

# Python
__pycache__/
*.pyc

# Misc
coverage/
coverage-*.json
*.zip
